/* Reset default styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Add your custom styles here */
body {
    font-family:"Poppins", sans-serif;
    background-color: #f2f2f2;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e3e6f3;
    padding: 20px 80px;
    z-index: 999;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
}

.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav ul{
    display: flex;
}

.nav ul li{
    display: flex;
    list-style: none;
    padding: 0 20px;
    position: relative;
    font-weight: 600;
    transition: 0.3s ease;
    color: #1a1a1a;
}
.nav-list .icon{
    padding-left:20px;
    color: #1a1a1a;
    transition: 0.3s ease;
}



.nav ul li:hover{
    color: #088178;
    content: "";
}
.nav .active{
    color: #088178;

}
.nav-list .icon:hover{
    color: #088178;
    content: "";
}

.nav ul li:hover::after{
    content:"";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -3.5px;
}

.nav .active::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position:absolute;
    bottom: -3.5px;
}

#hero {
    background-image: url('img/hero4.png');
    background-size: cover;
    /* background-position: center; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 80px;
    width:100%;
    height: 100vh;
}

#hero h4{
    padding-bottom: 10px;
    font-size: 35px;
    color: white;
}
#hero h2{
    padding: 0;
    font-size: 60px;
}
#hero h1{
    font-size: 65px;
    color: #088178;
}

#hero button{
    background-color: transparent;
    border:0;
    background-image: url(img/button.png);
    background-repeat: no-repeat;
    background-size:cover;
    width: 260px;
    height:60px;
    font-size: 20px;
    font-weight: 700;
    padding: 14px 65px 14px 65px;
    color: #088178;
}

.features{
    display: flex;
    flex-direction: row;

    padding: 10px;
}

.features .box{
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-style: solid;
    border-radius: 10px;
    border-color:#e3e6f3;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    margin: 17px;
    transition: 0.3s ease;
}

.features .box button{
    padding: 5px;
    margin-top: 5px;
    border-style: none;
    background-color: #e3e6f3;
    font-size: 14px;
    border-radius: 5px;
}

.features .box:hover{
    box-shadow: 10px 10px 54px rgba(0,0,0,0.1);
    z-index: 5;
}

.product-section .pro-collection
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:  0 60px; 
}

.product-section h1,
.product-section p{
    text-align: center;

}
.product-section .product-cart{
    width: 200px;
    border: 1px solid #ebebeb;
    padding: 13px;
    margin:30px;
    border-radius: 25px;
    position: relative;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    transition: box-shadow 0.2s;
}

.product-section .product-cart img{
    width:100%;
    border-radius: 25px;
}
.product-section .product-cart span{
    color: #969696;
    font-weight: 500;
    line-height: 30px;
}
.product-section .product-cart h4{
    font-size: 18px;
    color: rgb(41, 41, 41);
}

.product-section .product-cart .stars{
    color: #e6ae2c;
    padding: 6px 0;
}

.product-section .product-cart .price{
    color: #088178;
    padding: 4px 0;
}

.product-section .product-cart .icon{
    color: #088178;
    background-color: #c7e9e75e;
    padding: 15px;
    position: absolute;
    border-radius: 50px;
    right: 10px;
    bottom: 15px;
}


